# env
.env
.env.*
*.env

# logs
*.log

# python cache
__pycache__/
*.pyc

# generated preprocessing outputs
fastapi/out_preprocess/

# model artifacts / heavy outputs
fastapi/ai_models/
fastapi/backup/
*.dump

*:Zone.Identifier